.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.sampleStyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/img/minesweepericon.png') no-repeat;
}

.bace {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 450px;
  background-color: gray;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 270px;
  height: 270px;
  background-color: black;
  border-color: outset 5px #141414;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: gray;
  border: solid 2px #707070;
}
