.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.sampleStyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/img/minesweepericon.png') no-repeat;
}

.bace {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 400px;
  background-color: #ccc;
  border: outset 5px #eee;
}

.fancarea {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 70px;
  background-color: #ccc;
  border: inset 5px #e8e6e3;
}

.boardarea {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 280px;
  background-color: #aaa;
  border: inset 5px #e8e6e3;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
}

.none {
  position: relative;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/img/minesweepericon.png') no-repeat;
  border-top: solid 1px #7a7a7a;
  border-left: solid 1px #7a7a7a;
}

.cell {
  position: relative;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/img/minesweepericon.png') no-repeat;
  background-color: #ccc;
  border: outset 5px #ddd;
}
